[submodule "IATI-Schemas"]
	path = IATI-Schemas
	url = https://github.com/IATI/IATI-Schemas.git
	branch = version-1.05
[submodule "IATI-Rulesets"]
	path = IATI-Rulesets
	url = https://github.com/IATI/IATI-Rulesets.git
	branch = python-3-upgrade-105
[submodule "IATI-Codelists"]
	path = IATI-Codelists
	url = https://github.com/IATI/IATI-Codelists.git
	branch = python-3-upgrade-105
[submodule "IATI-Extra-Documentation"]
	path = IATI-Extra-Documentation
	url = https://github.com/IATI/IATI-Extra-Documentation.git
	branch = version-1.05
