[submodule "IATI-Schemas"]
	path = IATI-Schemas
	url = https://github.com/Bjwebb/IATI-Schemas.git
[submodule "IATI-Rulesets"]
	path = IATI-Rulesets
	url = https://github.com/Bjwebb/IATI-Rulesets.git
[submodule "IATI-Codelists"]
	path = IATI-Codelists
	url = https://github.com/Bjwebb/IATI-Codelists.git
