pip==19.2.1
Sphinx==5.1.1
lxml==4.9.1
flake8==3.7.8
Jinja2==3.1.2
pytz==2022.2.1
python-dateutil==2.8.0
# These are requirements above, added here to pin versions
docutils==0.15.2
Pygments==2.13.0
pytest==7.1.2