pip==19.2.1
Sphinx==2.1.2
lxml==4.3.4
flake8==3.7.8
Jinja2==2.10.1
pytz==2019.1
python-dateutil==2.8.0
# These are requirements above, added here to pin versions
docutils==0.15
MarkupSafe==1.1.1
Pygments==2.4.2
